<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.L2S.Nutshell.Properties.Settings.NutshellConnectionString"
            connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=Nutshell;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>